* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  .header {
    height: 75px;
    background-color: white;
    border-bottom: 1px solid pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    .headerLeft {
      .title {
      font-size: 30px;
      color: rgb(102, 101, 101);
      text-decoration: none;
      }
    }
    .headerForm {
      width: 30%;
      .searchForm {
        display: flex;
        &__inputBox {
          height: 35px;
          width: 100%;
          padding: 0 10px;
          border: 1px solid rgb(201, 201, 201);
          border-radius: 5px;
          color: rgb(100, 98, 98);
        }
        &__btn {
          height: 35px;
          padding: 0 15px;
          margin-left: 10px;
          border: 1px solid rgb(201, 201, 201);
          color: rgb(100, 98, 98);
          background-color: white;
          border-radius: 5px;

        }
      }

    }
    .headerRight {
      .headerItems {
        display: flex;
        list-style: none;
        font-size: 25px;
        &__post {
          text-decoration: none;
          color: rgb(124, 118, 118);
        }
        &__user {
          text-decoration: none;
          color: rgb(124, 118, 118);
          margin-left: 20px;
        }
        &__regi {
          text-decoration: none;
          color: rgb(100, 98, 98);
          background-color: rgb(236, 233, 234);
          padding: 10px;
          border-radius: 5px;
        }
        &__login {
          text-decoration: none;
          color: rgb(100, 98, 98);
          background-color: rgb(236, 233, 234);
          padding: 10px;
          border-radius: 5px;
          margin-left: 20px;
        }
        &__regi:hover {
          background-color: rgb(199, 197, 197);
        }
        &__login:hover {
          background-color: rgb(199, 197, 197);
        }
        
      }

    }
  }

  .footer {
    background-color: rgb(243, 240, 240);
    display: flex;
    justify-content: center;
    height: calc(100vh - 75px);
    .menuList {
      background-color: white;
      width: 53%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      overflow: scroll;
      .listTop {
        height: 70px; 
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        color: rgb(124, 118, 118);
        &__btn {
          color: white;
          background-color: rgb(255, 219, 226);
          text-decoration: none;
          padding: 14px;
          width: 120px;
          text-align: center;
        }
      }
      .listBottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .listBox {
          height: 300px;
          width: 100%;
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          .boxImage {
            background-color: lemonchiffon;
            width: 400px;
            height: 300px;
          }
          .boxInfo {
            background-color: rgb(224, 224, 224);
            width: 340px;
            padding: 10px 9px;
            .keywords {
              display: flex;
              margin-bottom: 7px;
              height: 35px;
              .keyword {
                color: white;
                background-color: rgb(255, 219, 226);
                padding: 7px 3px;
                width: 100px;
                text-align: center;
                margin-right: 3px;
                border-radius: 3px;
                font-size: 14px;
              }
            }
            &__second {
              display: flex;
              width: 100%;
              &__time {
                margin-top: 4px;
                background-color: white;
                color: rgb(80, 79, 79);
                border-radius: 3px;
                width: 49%;
                height: 38px;
                padding: 5px 10px;
                margin-right: 2%;
              }
              &__user {
                margin-top: 4px;
                background-color: white;
                color: rgb(80, 79, 79);
                border-radius: 3px;
                width: 49%;
                height: 38px;
                padding: 5px 10px;
              }
            }
            &__point {
              margin-top: 8px;
              background-color: white;
              color: rgb(80, 79, 79);
              border-radius: 3px;
              width: 100%;
              padding: 7px 10px;
              height: 190px;
              &__keywords {
                display: flex;
                margin-bottom: 7px;
                .keyword {
                  color: white;
                  background-color: rgb(255, 219, 226);
                  text-decoration: none;
                  padding: 3px;
                  width: 100px;
                  text-align: center;
                  margin-right: 3px;
                  border-radius: 3px;

                }
              }
            }
          }
        }
      }
    }
  }
}