* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  .header {
    height: 75px;
    background-color: white;
    border-bottom: 1px solid pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    .headerLeft {
      font-size: 30px;
      color: rgb(102, 101, 101);
    }
    .headerForm {
      width: 30%;
      .searchForm {
        display: flex;
        &__inputBox {
          height: 35px;
          width: 100%;
          padding: 0 10px;
        }
        &__submitButton {
          height: 35px;
          padding: 0 15px;
          margin-left: 10px;
        }
      }

    }
    .headerRight {
      .headerIcons {
        display: flex;
        list-style: none;
        font-size: 25px;
        &__post {
          text-decoration: none;
          color: rgb(124, 118, 118);
        }
        &__user {
          text-decoration: none;
          color: rgb(124, 118, 118);
          margin-left: 20px;
        }
        
      }

    }
  }

  .footer {
    height: calc(100% - 75px);
    background-color: rgb(243, 240, 240);
    display: flex;
    justify-content: center;
    .menuList {
      background-color: white;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      .listTop {
        height: 70px; 
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        color: rgb(124, 118, 118);
        &__btn {
          color: white;
          background-color: rgb(255, 219, 226);
          text-decoration: none;
          padding: 14px;
          width: 130px;
          text-align: center;
        }
      }
      .listBottom {
        height: calc(100% - 70px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .listBox {
          height: 250px;
          width: 100%;
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          .boxImage {
            background-color: lemonchiffon;
            width: 57%;
          }
          .boxInfo {
            background-color: lemonchiffon;
            width: 42%;
            padding: 10px;
            &__name {

            }
            &__time {
              margin-top: 8px;
            }
            &__point {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}